.cart {
  background-color: burlywood;
  padding-top: 10%;
  padding-bottom:10%;
  height: 100%;
}

.carth1{
  border:1px solid black;
  text-align: center;
}

.hoy{
  border:1px solid green;
}

.hey{
  border: 1px solid red;
}