.catalog-page {
    display: flex;
    flex-direction: column;
    background-color: dce0dd;
    padding-bottom: 10%;
    padding-top: 5%;

}

.catalog-page h1{
  font-size: 4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.catalogHR {
  position: relative;
  border: none;
  width: 60%;
  height: 2px;
  background: black;
  margin-top: 0%;
}

.catalogProducts{
  display: grid;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:20px; /* even spacing using grid-gap, You can use percentage values if you want*/
  padding:20px;
  
}

.pangit{
  background-color: rgb(30, 5, 167);
}

.catalogHR1 {
  position: relative;
  border: none;
  width: 30%;
  height: 2px;
  background: black;
  margin-top: 0%;
  
}

.catalogHR2 {
  position: relative;
  border: none;
  width: 15%;
  height: 2px;
  background: black;
  margin-top: 0%;
}