
.homeH1 {
  font-size: 6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 5%;
}

.welcomeHR {
  position: relative;
  border: none;
  width: 90%;
  height: 2px;
  background: rgb(58, 55, 55);
  margin-top: 0%;
}

.homeDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2%;
}

.homeDiv img{
    border: 1px solid darkgray;
    margin-top: 1rem;
    border-radius: 10px;
    width: 300px;
    height: 350px;
}