.product{
  border: 1px solid rgb(47, 45, 45);
  display: inline-block;
  width: 350px;
  height: 625px;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius:10px;
  background-color: white;
}

.product .image{
  margin-top: 1rem;
  border-radius: 10px;
  width: 300px;
  height: 320px;
}

.spanContainer{
  display:inline-block;

}

.prodName{
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 0%;
}

.priceTotalCont{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
}

.priceLabel{
  font-weight: 700;
}

.price{
  color: tomato;
}

.totalLabel{
  font-weight: 700;
}

.total{
  font-weight: 700;
}

.priceTotalHR{
  position: relative;
  border: none;
  width: 80%;
  height: 2px;
  background: black;
  margin-top: 0%;
}

.addHR{
  position: relative;
  border: none;
  height: 1px;
  background: darkgrey;
  margin-top: 0%;
  margin-top: 0%;
}

/* .prodName{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

/* .spanLabel{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
}

.spanContainer{
  display:inline-table;

}

.prodName{
  align-items: center;
  font-size: 2.5rem;
}


.total{
  font-size: 1.5rem;
  text-align: left;
}  */

